{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% if rss_list %}
{% if is_paginated %}
<div class="col-xs-12 col-md-12 col-lg-12">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="{{ page_link }}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
        {% endif %}
            <li class="active"><a >
            {% blocktrans with page_number=page_obj.number total_of_pages=page_obj.paginator.num_pages %}
            Page {{ page_number }} of {{ total_of_pages }}
            {% endblocktrans %}</a>
            </li>
        {% if page_obj.has_next %}
            <li><a href="{{ page_link }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endif %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "URL" %}</th>
    <th>{% trans "Triggered" %}</th>
    <th>{% trans "Notebook" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for data in rss_list %}
<tr>
    <td>{{ data.name }}</td>
    <td><a href="{{ data.url }}">{{ data.url }}</a></td>
    <td>{{ data.date_triggered }}</td>
    <td>{{ data.notebook }}</td>
    <td><a class="btn btn-sm btn-md btn-lg btn-success" role="button" href="{% url 'edit' data.id %}"><span class="glyphicon glyphicon-pencil icon-white"></span></a>
        {% if data.status %}
        <a class="btn btn-sm btn-md btn-lg btn-primary" role="button" href="{% url 'switch' data.id %}" title="{% trans 'Set this RSS off' %}"><span class="glyphicon glyphicon-off icon-white"></span></a>
        {% else %}
        <a class="btn btn-sm btn-md btn-lg btn-warning" role="button" href="{% url 'switch' data.id %}" title="{% trans 'Set this RSS on' %}"><span class="glyphicon glyphicon-off icon-white"></span></a>
        {% endif %}
        <a class="btn btn-sm btn-md btn-lg btn-danger" role="button"  href="{% url 'delete' data.id %}"><span class="glyphicon glyphicon-trash icon-white"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
