{% extends "base.html" %}
{% load i18n %}
{% block title %}Add a RSS Feed{% endblock %}
{% block content %}
    <div class="col-md-6" id="weight-content-form">
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-eye-open"></span> {% trans "RSS Feeds" %}</legend>
        <div class="panel panel-default">
            <br/>

            <div class="form-group{% if form.name.errors %} has-error has-feedback{% endif %}">
                {% if form.name.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.name.errors }}</div>
                <label for="id_name" class="col-sm-4 control-label">{% trans "Name" %}</label>
                <div class="col-sm-4">
                {{ form.name }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_name" class="col-sm-4 control-label">{% trans "Name" %}</label>
                <div class="col-sm-4">
                {{ form.name }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.date_weights.errors %} has-error has-feedback{% endif %}">
                {% if form.url.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.url.errors }}</div>
                <label for="id_url" class="col-sm-4 control-label">{% trans "url" %}</label>
                <div class="col-sm-4">
                {{ form.url }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_url" class="col-sm-4 control-label">{% trans "URL" %}</label>
                <div class="col-sm-4">
                {{ form.url }}
                </div>
                {% endif %}
            </div>
            <div class="form-group{% if form.date_weights.errors %} has-error has-feedback{% endif %}">
                {% if form.notebook.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.notebook.errors }}</div>
                <label for="id_notebook" class="col-sm-4 control-label">{% trans "Notebook" %}</label>
                <div class="col-sm-4">
                {{ form.notebook }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_notebook" class="col-sm-4 control-label">{% trans "Notebook" %}</label>
                <div class="col-sm-4">
                {{ form.notebook }}
                </div>
                {% endif %}
            </div>

            <div class="form-group{% if form.date_weights.errors %} has-error has-feedback{% endif %}">
                {% if form.tag.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.tag.errors }}</div>
                <label for="id_tag" class="col-sm-4 control-label">{% trans "Tag" %}</label>
                <div class="col-sm-4">
                {{ form.tag }}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                {% else %}
                <label for="id_tag" class="col-sm-4 control-label">{% trans "Tag" %}</label>
                <div class="col-sm-4">
                {{ form.tag }}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </div>

        </fieldset>
        </form>
    </div>
{% endblock %}
